.rotates{
    transform: rotate(180deg);
  background-color: rgb(255, 249, 192);
  width: 80px;
    height: 15px;
  }

.xiao{
    background-color: rgb(255, 249, 192);
  width: 80px;
    height: 15px;
}

@keyframes nova {
	0% {
		transform: rotate(0deg) translateX(25px);
	}
	100% {
		transform: rotate(360deg) translateX(25px);
	}
}

.nova {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: DodgerBlue;
	margin: 60px auto;

	animation: nova 1s linear infinite;
}
